.center-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.example-form-field {
    width: 200px;
}